---
import { Image } from "astro:assets";
import myNetworkingImage from "@/images/mynetworking.png";
import myNetworkingExmpl1Image from "@/images/my-networking-exmpl-1.png";
import myNetworkingExmpl2Image from "@/images/my-networking-exmpl-2.png";
import Layout from "@/components/Layout.astro";
---

<Layout>
  <div class="grid grid-cols-12 gap-4 lg:gap-8 max-w-7xl mx-auto">
    <div class="col-span-12 lg:col-span-8 space-y-4 pt-8">
      <Image
        src={myNetworkingImage}
        alt="A contact management tool that lets you sort, categorize, and track interactions. (my personal startup, currently in development)"
      />
      <Image
        src={myNetworkingExmpl1Image}
        alt="My Networking's first example "
      />
      <Image
        src={myNetworkingExmpl2Image}
        alt="My Networking's second example "
      />
    </div>
    <div class="col-span-12 lg:col-span-4">
      <div class="h-screen flex flex-col sticky top-0 pt-8 pb-4">
        <h1 class="text-3xl tracking-wider">My Networking</h1>
        <p class="text-zinc-500 mt-2">
          A contact management tool that lets you sort, categorize, and track
          interactions. (my personal startup, currently in development)
        </p>
        <h1 class="text-3xl tracking-wider mt-6">Year</h1>
        <p class="text-zinc-500 mt-2">2024</p>
        <div class="flex justify-between mt-auto">
          <a href="/works" class="tracking-wider text-lg">Close &#215;</a>
          <a href="/" class="tracking-wider text-lg">Home</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
